doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Календарь. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Календарь
         .user_manual__about.about-dark.about-800
            p Единое хранилище образовательных и&nbsp;просветительских событий, доступных для учеников, учителей и&nbsp;родителей через Цифровых&nbsp;помощников


            include ../assets/jade/content/todo/__hidden-text
            +hidden( 'Кто может создавать и&nbsp;редактировать контент?', 'Добавлять и&nbsp;редактировать материалы в&nbsp;Календаре могут пользователи с&nbsp;ролями &laquo;Администратор&raquo; и&nbsp;&laquo;Методист&raquo;. Доступ к&nbsp;работе с&nbsp;разделом предоставляется сотрудникам, указанным в&nbsp;заявке от&nbsp;профильного Департамента Министерства просвещения Российской Федерации, после прослушивания обучающего вебинара.')


         .line

      .wrapper
         .h4 Публикация мероприятий
         .how-to__about.about-gray
            p Как добавить событие в&nbsp;разделе &laquo;Календарь&raquo;

         include ../assets/jade/content/todo/__how-to_headline
         include ../assets/jade/content/todo/__how-to_content-dot
         include ../assets/jade/content/todo/__how-to_content-img
         section.how-to__holder
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Календарь&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'calendar', '1')
                  ul.how-to__ul
                     +content-dot( 'Перейдите в&nbsp;левом меню в&nbsp;пункт &laquo;Календарь&raquo;&nbsp;&mdash; вкладка &laquo;События&raquo;')
                     +content-dot( 'Откроется таблица/список ранее созданных мероприятий')
            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'calendar', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопка &laquo;Действия&raquo;&nbsp;&mdash; &laquo;Добавить новый&raquo;')
                     +content-dot( 'Откроется форма создания нового события')

            article.how-to__block
               +headline( '3. Заполните карточку мероприятия')
               .how-to__content_holder.hidden
                  +content-img( 'calendar', '3')
                  ul.how-to__ul
                     +content-dot( '<b>Название события</b>&nbsp;&mdash; укажите название мероприятия, например &laquo;Всероссийская олимпиада по&nbsp;математике&raquo;')
                     +content-dot( 'Перейдите во&nbsp;вторую вкладку &laquo;Описание&raquo; и&nbsp;напишите описание события. <b>Описание</b>&nbsp;&mdash; подробное расскажите, о&nbsp;чём это мероприятие и&nbsp;кому будет интересно. Вернитесь в&nbsp;первую вкладку &laquo;Событие&raquo; и&nbsp;заполните основную информацию')
                     +content-dot( '<b>Краткое название</b>&nbsp;&mdash; укажите краткое название мероприятия')
                     +content-dot( '<b>Изображение обложки</b>&nbsp;&mdash; добавьте картинку, которая будет отображаться на&nbsp;карточке события. Обложка помогает сделать карточку события более заметной и&nbsp;визуально понятной')
                     +content-dot( '<b>Тип события*</b>&nbsp;&mdash; выберите из справочника: олимпиада, конкурс, курс и&nbsp;др.')
                     +content-dot( '<b>Дата и&nbsp;время начала / окончания</b>&nbsp;&mdash; укажите когда начинается и&nbsp;заканчивается мероприятие')
                     +content-dot( '<b>Целевая аудитория&nbsp;&mdash; выберите, кому показать это мероприятие</b> (законный представитель, обучающийся, педагог). Это определяет, <b>в&nbsp;каких пользовательских интерфейсах будет показано мероприятие</b>. Можно выбрать один вариант или&nbsp;сразу несколько')
                     +content-dot( '<b>Уровень события</b>&nbsp;&mdash; выберите уровень&nbsp;&mdash; муниципальный, региональный, федеральный')
                     +content-dot( '<b>Дата начала*</b>&nbsp;&mdash; укажите дату начала события')
                     +content-dot( '<b>Дата окончания</b>&nbsp;&mdash; укажите, если событие длится несколько дней/недель/месяцев')
                     +content-dot( '<b>Время начала и&nbsp;окончания</b>&nbsp;&mdash; укажите если мероприятие длится один–три дня и&nbsp;известно время начала и&nbsp;окончания, например: 10:00–12:00')
                     +content-dot( '<b>Длительность</b>&nbsp;&mdash; если известна продолжительность, укажите в&nbsp;формате ЧЧ:ММ')
                     +content-dot( '<b>Время*</b>&nbsp;&mdash; выберите часовой пояс&nbsp;&mdash; московское или&nbsp;местное время')
                     +content-dot( '<b>Формы проведения</b>&nbsp;&mdash; укажите форму проведения&nbsp;&mdash; очная, дистанционная, очно–заочная. Возможен выбор нескольких вариантов')
                     +content-dot( '<b>В перечне Минобрнауки</b> (если выбран тип события &laquo;Олимпиада&raquo;)&nbsp;&mdash; отметьте, если олимпиада входит в&nbsp;перечень Минобрнауки и&nbsp;в&nbsp;поле &laquo;Уровень олимпиады&raquo; укажите её уровень (1, 2, 3)')
                     +content-dot( '<b>Регион*</b>&nbsp;&mdash; выберите регион, пользователям которого будет видно данное мероприятие. Можно выбрать один вариант или&nbsp;несколько. Пользователи административной панели с&nbsp;ролью &laquo;Методист&raquo; могут выбирать только регион, совпадающий с&nbsp;регионом, указанным в&nbsp;личном кабинете Методиста')
                     +content-dot( '<b>Адрес проведения</b>&nbsp;&mdash; укажите адрес, если мероприятие проходит очно')
                     +content-dot( '<b>Место проведения</b>&nbsp;&mdash; комментарии: название БЦ, этаж, кабинет и&nbsp;др.')
                     +content-dot( '<b>Ссылка на&nbsp;страницу события на&nbsp;внешнем ресурсе</b>&nbsp;&mdash; официальная ссылка на&nbsp;мероприятие')
                     +content-dot( '<b>Организатор</b>&nbsp;&mdash; укажите в&nbsp;соответствующих полях <b>Название, Сайт, Email, Телефон</b> организатора мероприятия')
                     +content-dot( '<b>Доступна онлайн–трансляция</b>&nbsp;&mdash; отметьте, если предусмотрена онлайн–трансляция и, нажав на&nbsp;&laquo; <b>+</b> &raquo; укажите <b>Название платформы</b> для трансляции и&nbsp;<b>Ссылку на&nbsp;трансляцию</b> в&nbsp;соответствующих полях')
                     +content-dot( '<b>Предметы</b>&nbsp;&mdash; выберите предметы, к&nbsp;которым относится данное мероприятие')
                     +content-dot( '<b>Предметные области, дисциплины</b>&nbsp;&mdash; выберите при необходимости. В&nbsp;дисциплинах указываются виды спорта, если мероприятие спортивное')
                     +content-dot( '<b>Классы</b>&nbsp;&mdash; выберите классы, к&nbsp;которым относится данное мероприятие')
                     +content-dot( '<b>Виды участия</b>&nbsp;&mdash; выберите возможные виды участия&nbsp;&mdash; индивидуальное, командное и&nbsp;др.')
                     +content-dot( '<b>Возраст участников от и&nbsp;до</b>&nbsp;&mdash; укажите ограничение или диапазон (например: от 10 до 17 лет)')
                     +content-dot( '<b>Количество академических часов</b>&nbsp;&mdash; укажите объем программы (если применимо)')
                     +content-dot( '<b>Порядок участия</b>&nbsp;&mdash; текст с&nbsp;описанием, как принять участие')
                     +content-dot( '<b>Стоимость</b>&nbsp;&mdash; укажите стоимость (например, &laquo;от&nbsp;1000 до&nbsp;3000&nbsp;₽&raquo;). Оставьте пустым, если мероприятие бесплатное')
                     +content-dot( '<b>Ссылки на&nbsp;внешние документы</b>&nbsp;&mdash; можно вставить ссылки на&nbsp;положения, инструкции и&nbsp;т.д. Укажите ссылку на&nbsp;документ, а&nbsp;в&nbsp;поле &laquo;Название&raquo; укажите что именно расположено по&nbsp;данной ссылке (например, Положение)')
                     +content-dot( '<b>Файл</b>&nbsp;&mdash; к&nbsp;карточке мероприятия вы можете прикрепить файл формата doc/docx, xls/xlsx, ppt/pptx, pdf. Размер файла может быть ограничен&nbsp;&mdash; при загрузке система покажет, если превышен лимит')

            article.how-to__block
               +headline( '4. Нажмите &laquo;Создать&raquo;')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;вернуться к&nbsp;списку&raquo; или&nbsp;&laquo;Создать и&nbsp;добавить новый&raquo;')
                     +content-dot( 'Событие сохраняется в&nbsp;статусе &laquo;Черновик&raquo;')
            article.how-to__block
               +headline( '5. Опубликуйте мероприятие')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке созданных мероприятий найдите созданное вами мероприятие, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')
                     +content-dot( 'Сразу после публикации, ваше мероприятие станет доступно в&nbsp;Календаре тех цифровых помощников, которые вы выбрали на&nbsp;этапе создания')
                  .how-to__text Например:
                  ul.how-to__ul
                     +content-dot( 'Если вы выбрали только учащихся, оно появится в&nbsp;&laquo;Цифровом помощнике ученика&raquo;')
                     +content-dot( 'Если выбрали всех, то и&nbsp;ученики, и&nbsp;учителя, и&nbsp;родители его увидят в&nbsp;своем Календаре')
                     +content-dot( 'Пользователь, зайдя в&nbsp;Сервис, увидит это мероприятие в&nbsp;разделе &laquo;Календарь&raquo; с&nbsp;полным описанием, сроками и&nbsp;доступной ссылкой (если есть)')


            article.how-to__block
               +headline( 'Примечания')
               .how-to__content_holder.hidden
                  .how-to__text При необходимости мероприятие можно будет редактировать или удалить позже из того же раздела.
                  ul.how-to__ul
                     +content-dot( 'Некоторые поля могут быть обязательными для заполнения&nbsp;&mdash; система подскажет при попытке сохранить пустую форму')
                     +content-dot( 'Чтобы не дублировать, можно заранее проверить, нет ли похожего события в&nbsp;списке')


      include ../assets/jade/static/script
      include ../assets/jade/footer/footer-pages
