doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Календарь. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Календарь
         .user_manual__about.about-dark.about-800 Единое хранилище образовательных и&nbsp;просветительских событий, доступных для учеников, учителей и&nbsp;родителей через Цифровых&nbsp;помощников

         .line
