doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Рабочий стол. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Рабочий стол
         .user_manual__about.about-dark.about-1100
            p Персональный раздел для&nbsp;учителей, где они могут собирать и&nbsp;структурировать нужные материалы из&nbsp;разных разделов Системы. Учителя могут создавать собственные папки с&nbsp;контентом (например, для&nbsp;подготовки к&nbsp;урокам или&nbsp;аттестации), а&nbsp;также использовать готовые папки, которые заранее подготовили администраторы Системы.
            p Это удобно для&nbsp;быстрого доступа к&nbsp;актуальной информации и&nbsp;организации рабочих материалов в&nbsp;одном месте.

            include ../assets/jade/content/todo/__hidden-text
            +hidden( 'Кто может создавать и&nbsp;редактировать контент?', 'Добавлять и&nbsp;редактировать папки Рабочего стола могут пользователи с&nbsp;ролями &laquo;Администратор&raquo; и&nbsp;&laquo;Методист&raquo;. Доступ к&nbsp;работе с&nbsp;разделом предоставляется сотрудникам, указанным в&nbsp;заявке от&nbsp;профильного Департамента Министерства просвещения Российской Федерации, после прослушивания обучающего вебинара.')

         .line

      .wrapper.pb6
         .h4 Как добавить папку на Рабочий стол?
         .how-to__about.about-gray
            p Для Цифрового помощника учителя

         include ../assets/jade/content/todo/__how-to_headline
         include ../assets/jade/content/todo/__how-to_content-dot
         include ../assets/jade/content/todo/__how-to_content-img
         section.how-to__holder
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Рабочий стол&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'desk', '1')
                  ul.how-to__ul
                     +content-dot( 'В административной панели в&nbsp;меню слева выберите &laquo;Рабочий стол&raquo;&nbsp;&mdash; вкладка &laquo;Папки&raquo;')
                     +content-dot( 'Откроется таблица/список добавленных ранее папок')
            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'desk', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопку &laquo;Добавить новый&raquo;')
                     +content-dot( 'Откроется форма создания новой папки с&nbsp;контентом')
            article.how-to__block
               +headline( '3. Заполните основную информацию')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Название*</b>&nbsp;&mdash; укажите понятное и&nbsp;короткое название папки, которое будут видеть педагоги на&nbsp;своем Рабочем столе')
                     +content-dot( '<b>Описание*</b>&nbsp;&mdash; кратко укажите, что содержит папка и&nbsp;для&nbsp;чего она предназначена. Редактор позволяет вставлять в&nbsp;текст картинки, видео, аудио, а&nbsp;также встроенные ссылки')
                     +content-dot( '<b>Регион/Доступность*</b>&nbsp;&mdash; выберите регион/ы, пользователям которого будет видна данная папка. Можно выбрать один вариант или&nbsp;несколько. Пользователи административной панели с&nbsp;ролью &laquo;Методист&raquo; могут выбирать только регион, совпадающий с&nbsp;регионом, указанным в&nbsp;Личном кабинете Методиста')
                     +content-dot( '<b>Срок отображения</b>&nbsp;&mdash; настройте срок отображения папки&nbsp;&mdash; постоянно/неделя/месяц/свой диапазон дат. Если вы выберете конкретные даты, папка будет отображаться только в&nbsp;указанный период')

            article.how-to__block
               +headline( '4. Нажмите &laquo;Создать&raquo;')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;редактировать&raquo;, чтобы далее добавить в&nbsp;нее материалы')
                     +content-dot( 'Папка сохраняется в&nbsp;статусе &laquo;Черновик&raquo;, во&nbsp;второй вкладке доступен выбор материалов')

            article.how-to__block
               +headline( '5. Добавьте материалы в&nbsp;папку')
               .how-to__content_holder.hidden
                  +content-img( 'desk', '5')
                  .how-to__text.mb1 Перейдите во&nbsp;вторую вкладку &laquo;Материалы&raquo;
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Добавить&raquo;')
                     +content-dot( 'Выберите необходимый контент и&nbsp;нажмите кнопку &laquo;Добавить выбранное&raquo;')
                     +content-dot( 'Нажмите кнопку &laquo;Сохранить и&nbsp;вернуться к&nbsp;списку&raquo;')
            article.how-to__block
               +headline( '6. Опубликуйте папку')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке созданных папок найдите созданную вами папку, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')
                  .how-to__text Сразу после публикации, ваша папка станет доступна на&nbsp;Рабочем столе Цифрового помощника учителя.

            article.how-to__block
               +headline( 'Примечания')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Название и&nbsp;описание папки видны пользователю&nbsp;&mdash; делайте их понятными')
                     +content-dot( 'В одну папку можно добавлять материалы из&nbsp;разных разделов&nbsp;&mdash; это удобно')
                     +content-dot( 'Папку можно редактировать и&nbsp;обновлять в&nbsp;любой момент')



      include ../assets/jade/static/script
      include ../assets/jade/footer/footer-pages
