doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Рабочий стол. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Рабочий стол
         .user_manual__about.about-dark.about-1100
            p Персональный раздел для учителей, где они могут собирать и&nbsp;структурировать нужные материалы из разных разделов Системы. Учителя могут создавать собственные папки с&nbsp;контентом (например, для подготовки к&nbsp;урокам или аттестации), а&nbsp;также использовать готовые папки, которые заранее подготовили администраторы Системы.
            p Это удобно для быстрого доступа к&nbsp;актуальной информации и&nbsp;организации рабочих материалов в&nbsp;одном месте.

            include ../assets/jade/content/todo/__hidden-text
            +hidden( '', '')

         .line


      include ../assets/jade/static/script
