doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Курсы повышения квалификации для педагогов (ДППО). Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Курсы повышения квалификации для педагогов (ДППО)
         .user_manual__about.about-dark.about-900
            p Раздел для хранения и&nbsp;управления информацией о&nbsp;курсах повышения квалификации для педагогов, чтобы учителя легко находили подходящие программы обучения в&nbsp;одном месте.
            p В автоматизированном режиме обеспечена передача сведений о&nbsp;программах ДППО из&nbsp;
               a( href='https://education.apkpro.ru//' target='_blank').todo-link Цифровой экосистемы дополнительного профессионального образования
               | . Однако, при&nbsp;необходимости, администраторы и&nbsp;методисты могут добавлять программы вручную.


            include ../assets/jade/content/todo/__hidden-text
            +hidden( 'Кто может создавать и&nbsp;редактировать контент?', 'Добавлять и&nbsp;редактировать курсы ДППО могут пользователи с&nbsp;ролями &laquo;Администратор&raquo; и&nbsp;&laquo;Методист&raquo;. Доступ к&nbsp;работе с&nbsp;разделом предоставляется сотрудникам, указанным в&nbsp;заявке от профильного Департамента Министерства просвещения Российской Федерации, после прослушивания обучающего вебинара.')
            
         .line

      .wrapper.pb6
         .h4 Как добавить курс повышения квалификации?
         .how-to__about.about-gray
            p Для Цифрового помощника учителя

         include ../assets/jade/content/todo/__how-to_headline
         include ../assets/jade/content/todo/__how-to_content-dot
         include ../assets/jade/content/todo/__how-to_content-img
         section.how-to__holder
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;ДППО&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'dppo', '1')
                  ul.how-to__ul
                     +content-dot( 'В административной панели в&nbsp;меню слева выберите &laquo;ДППО&raquo;&nbsp;&mdash; вкладка &laquo;Курсы&raquo;')
                     +content-dot( 'Откроется таблица/список имеющихся в&nbsp;Системе курсов ДППО')
            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'dppo', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопку &laquo;Добавить новый&raquo;')
                     +content-dot( 'Откроется форма создания нового курса')

            article.how-to__block
               +headline( '3. Заполните карточку мероприятия')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Название*</b>&nbsp;&mdash; укажите полное название курса ДППО')
                     +content-dot( '<b>Внешний идентификатор*</b>&nbsp;&mdash; указывается автоматически при&nbsp;импорте из&nbsp;Реестра слушателей. Не&nbsp;редактируется вручную')
                     +content-dot( '<b>Описание курса</b>&nbsp;&mdash; подробное расскажите, о&nbsp;чём курс и&nbsp;кому он будет интересен. Редактор позволяет вставлять в&nbsp;текст картинки, видео, аудио, а&nbsp;также встроенные ссылки')
                     +content-dot( '<b>Иконка курса</b>&nbsp;&mdash; загрузите изображение–обложку')
                     +content-dot( '<b>Краткое описание</b>&nbsp;&mdash; укажите краткое описание, которое будет отображать в&nbsp;каталоге при&nbsp;наведении на&nbsp;карточку курса')
                     +content-dot( '<b>Описание программы курса</b>&nbsp;&mdash; уточните, что включает в&nbsp;себя программа')
                     +content-dot( '<b>Длительность курса</b>&nbsp;&mdash; укажите количество академических часов (максимум&nbsp;&mdash; 250)')
                     +content-dot( '<b>Курс сертифицирован</b>&nbsp;&mdash; отметьте, если выдается сертификат')
                     +content-dot( '<b>Организация</b>&nbsp;&mdash; укажите название учреждения, проводящего курс')
                     +content-dot( '<b>Регион*</b>&nbsp;&mdash; укажите регион РФ, к&nbsp;которому относится курс')
                     +content-dot( '<b>Направленность курса</b>&nbsp;&mdash; выберите профиль подготовки')
                     +content-dot( '<b>Целевая аудитория</b>&nbsp;&mdash; укажите учителям каких предметов будет интересен курс')
                     +content-dot( '<b>Предметы</b>&nbsp;&mdash; выберите предметы, к&nbsp;которым относится данный курс')
                     +content-dot( '<b>Формат проведения</b>&nbsp;&mdash; выберите формат проведения курса&nbsp;&mdash; онлайн или&nbsp;офлайн')
                     +content-dot( '<b>Адрес проведения курса</b>&nbsp;&mdash; укажите адрес, если курс проходит очно')
                     +content-dot( '<b>Ссылка на&nbsp;Яндекс карты</b>&nbsp;&mdash; укажите адрес на&nbsp;Яндекс картах, чтобы на&nbsp;странице курса отобразилась карта с&nbsp;указанием места проведения')
                     +content-dot( '<b>Является программой ДПП ПК</b>&nbsp;&mdash; отметьте, если курс&nbsp;&mdash; это программа повышения квалификации')
                     +content-dot( '<b>Включён в&nbsp;ФР ДПП</b>&nbsp;&mdash; отметьте, если курс зарегистрирован в&nbsp;федеральном реестре программ')
                     +content-dot( '<b>Программа ДППО</b>&nbsp;&mdash; укажите, к&nbsp;какой программе ДППО относится курс')
                     +content-dot( '<b>Модули</b>&nbsp;&mdash; добавьте список модулей с&nbsp;названиями и&nbsp;номерами')
                     +content-dot( '<b>Занятия</b>&nbsp;&mdash; добавьте список занятий с&nbsp;названиями и&nbsp;номерами')
                     +content-dot( '<b>Потоки</b>&nbsp;&mdash; создайте потоки с&nbsp;датами начала и&nbsp;окончания')
                     +content-dot( '<b>URL на&nbsp;страницу курса</b>&nbsp;&mdash; укажите ссылку на&nbsp;сайт курса')
                     +content-dot( '<b>Запланированная дата публикации</b>&nbsp;&mdash; укажите дату, когда должен быть опубликован курс')
                     +content-dot( '<b>Запланированное время публикации</b>&nbsp;&mdash; укажите время, когда должен быть опубликован курс')

            article.how-to__block
               +headline( '4. Нажмите &laquo;Создать&raquo;')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;вернуться к&nbsp;списку&raquo; или&nbsp;&laquo;Создать и&nbsp;добавить новый&raquo;')
                     +content-dot( 'Курс сохранится в&nbsp;статусе &laquo;Черновик&raquo;&nbsp;&mdash; его пока не&nbsp;видят пользователи')

            article.how-to__block
               +headline( '5. Опубликуйте материал')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot('Если вы не&nbsp;указали дату/время публикации при&nbsp;создании курса, опубликуйте его вручную')
                     +content-dot( 'В списке найдите созданный вами курс, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;. Сразу после публикации курс станет доступным в&nbsp;разделе &laquo;Курсы&raquo; в&nbsp;Цифровом помощнике учителя')

                  .how-to__text *Курсы также можно добавлять массово&nbsp;&mdash; с&nbsp;использованием специализированных форм пакетной загрузки.

            article.how-to__block
               +headline( 'Примечания')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'При необходимости курс можно будет редактировать, копировать или&nbsp;удалить позже из&nbsp;того&nbsp;же раздела')
                     +content-dot( 'Обязательные поля должны быть заполнены&nbsp;&mdash; система подскажет при&nbsp;попытке сохранить пустую форму')
                     +content-dot( 'Добавляйте модули, занятия и&nbsp;потоки, если курс состоит из&nbsp;нескольких этапов')
                     +content-dot( 'Если вы добавляете ссылку, убедитесь, что она работает и&nbsp;открывается без&nbsp;ограничений')










      include ../assets/jade/static/script
      include ../assets/jade/footer/footer-pages
