doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Курсы повышения квалификации для педагогов (ДППО). Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Курсы повышения квалификации для педагогов (ДППО)
         .user_manual__about.about-dark
            
         .line
