doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Анкетирование. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Анкетирование
         .user_manual__about.about-dark.about-900
            p Раздел в&nbsp;Цифровых помощниках, с&nbsp;помощью которого пользователи могут проходить тесты, направленные на&nbsp;диагностику знаний, навыков и&nbsp;компетенций. Она используется во&nbsp;всех цифровых помощниках: ученика, учителя и&nbsp;родителя.
            p Система позволяет выявлять образовательные дефициты, определять уровень освоения тем и&nbsp;рекомендовать соответствующие верифицированные образовательные материалы для&nbsp;дальнейшего развития.

         h2.h4.mt4.mb2  Какие бывают тесты и&nbsp;для кого
         .flex_holder.mb1
            .half
               .text Помощник учителя, Помощник родителя
            .half
               ul.how-to__ul
                  li.how-to__li Тесты по&nbsp;самодиагностике&nbsp;&mdash; помогают оценить уровень профессиональных и&nbsp;личностных компетенций и&nbsp;выявить зоны роста.

         .flex_holder
            .half
               .text Помощник ученика
            .half
               ul.how-to__ul
                  li.how-to__li Тесты по&nbsp;самодиагностике&nbsp;&mdash; помогают оценить уровень профессиональных и&nbsp;личностных компетенций и&nbsp;выявить зоны роста
                  li.how-to__li Диагностические тесты (для инофонов)&nbsp;&mdash; направлены на&nbsp;выявление трудностей в&nbsp;знании русского языка как иностранного
                  li.how-to__li Олимпиадные задания&nbsp;&mdash; представлены тестами и&nbsp;заданиями из&nbsp;регионального и/или&nbsp;заключительного этапов Всероссийской олимпиады школьников (ВСОШ)

      .block-gray.mb6
         .wrapper.pt6.pb6
            .h4.mb2 Как создать новое тестирование
            ol.how-to__ol
               li.how-to__li
                  b Создание заданий
                  | &nbsp;&mdash; вы добавляете все задания, которые могут использоваться в&nbsp;тесте (например, вопросы с&nbsp;вариантами, задания с&nbsp;вводом ответа и&nbsp;т.д.). У&nbsp;каждого задания указывается, для&nbsp;какого типа тестирования оно предназначено (самодиагностика, диагностика, олимпиады).
               li.how-to__li
                  b Создание теста
                  | &nbsp;&mdash; из&nbsp;общего списка заданий вы собираете конкретный тест: выбираете нужные задания, задаете название, описание и&nbsp;параметры отображения.



      .wrapper.mb6
         include ../assets/jade/content/todo/__hidden-text
         +hidden( 'Кто может создавать и&nbsp;редактировать контент?', 'В административной панели пользователи с&nbsp;ролями &laquo;Администратор&raquo; и&nbsp;&laquo;Методист&raquo; могут вручную добавлять и&nbsp;редактировать задания и&nbsp;тесты, выбирать формат заданий и&nbsp;настраивать отображение в&nbsp;Помощниках для&nbsp;разных категорий пользователей. Доступ к&nbsp;работе с&nbsp;разделом предоставляется сотрудникам, указанным в&nbsp;заявке от&nbsp;профильного Департамента Министерства просвещения Российской Федерации, после прослушивания обучающего вебинара.')

      .wrapper.pb6
         .h4.pb4 Этап 1. Создание заданий

         include ../assets/jade/content/todo/__how-to_headline
         include ../assets/jade/content/todo/__how-to_content-dot
         include ../assets/jade/content/todo/__how-to_content-img
         include ../assets/jade/content/todo/__how-to_line
         section.how-to__holder.mb8
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Анкетирование&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'form/1', '1')
                  ul.how-to__ul
                     +content-dot( 'Перейдите в&nbsp;левом меню в&nbsp;пункт &laquo;Анкетирование&raquo;&nbsp;&mdash; вкладка &laquo;Задания&raquo;')
                     +content-dot( 'Откроется таблица/список ранее созданных заданий')
            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'form/1', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопка &laquo;Действия&raquo;&nbsp;&mdash; &laquo;Добавить&raquo;')

                  .how-to__text В&nbsp;появившемся окне выберите тип задания из&nbsp;списка:
                  +content-line('Выбрать ответ')
                  +content-line('Ввести ответ')
                  +content-line('Свободный ответ')
                  +content-line('Ответ в&nbsp;табличном виде')
                  +content-line('Расположить по&nbsp;порядку')
                  +content-line('Вставить пропущенное')
                  +content-line('Установить соответствие')
                  +content-line('Аудирование')
                  +content-line('Ввести ответ заданной длины.')

                  ul.how-to__ul.mt07
                     +content-dot( 'Откроется форма создания нового задания выбранного типа')

            article.how-to__block
               +headline( '3. Заполните основную информацию в&nbsp;соответствии с&nbsp;выбранным типом задания')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Заголовок*</b>&nbsp;&mdash; укажите название задания')
                     +content-dot( '<b>Описание*</b>&nbsp;&mdash; напишите текст задания')
                     +content-dot( '<b>Доступность задания*</b>&nbsp;&mdash; выберите, в&nbsp;каком типе тестов это задание может использоваться (диагностические тесты, олимпиады, самодиагностика)')
                     +content-dot( '<b>Категория пользователя*&nbsp;&mdash; выберите, кому показать это задание</b> (законный представитель, обучающийся, педагог). Это определяет, <b>в каких пользовательских интерфейсах будет показано задание</b>. Можно выбрать один вариант или&nbsp;сразу несколько')
                     +content-dot( '<b>Классы</b> <i>(недоступно для&nbsp;самодиагностики)</i>&nbsp;&mdash; укажите учебные классы, для&nbsp;которых предназначено данное задание')
                     +content-dot( '<b>Предмет</b> <i>(недоступно для&nbsp;диагностических тестов)</i>&nbsp;&mdash; выберите предмет, к&nbsp;которому относится задание')
                     +content-dot( '<b>Год задания*</b>&nbsp;&mdash; укажите год, например, 2023')
                     +content-dot( '<b>Баллы за задание*</b>&nbsp;&mdash; укажите, если нужно оценивать выполнение')
                     +content-dot( '<b>Сложность</b> <i>(недоступно для&nbsp;самодиагностики)</i>&nbsp;&mdash; выберите какому уровню сложности соответствует задание (базовая, средняя, углубленная)')
                     +content-dot( '<b>Этап</b> <i>(доступно только для&nbsp;олимпиады)</i>&nbsp;&mdash; выберите к&nbsp;какому этапу олимпиады относится задание (отборочный, школьный, муниципальный, региональный, федеральный, заключительный)')
                     +content-dot( '<b>Ответ</b>&nbsp;&mdash; укажите конфигурацию ответа в&nbsp;зависимости от&nbsp;типа задания')
                     +content-dot( '<b>Компетенции</b> <i>(актуально только для&nbsp;самодиагностики)</i>&nbsp;&mdash; выберите подходящие компетенцию, область диагностики, укажите описание и&nbsp;баллы по&nbsp;данной компетенции')

            article.how-to__block
               +headline( '4. Сохраните задание')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;вернуться к&nbsp;списку&raquo; или&nbsp;&laquo;Создать и&nbsp;добавить новый&raquo;')
                     +content-dot( 'Задание сохранится в&nbsp;статусе &laquo;Черновик&raquo;&nbsp;&mdash; его пока не видят пользователи')
            article.how-to__block
               +headline( '5. Опубликуйте задание')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке найдите созданное вами задание, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')




         .h4.pb4 Этап 2. Создание тестирования
         section.how-to__holder
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Анкетирование&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'form/2', '1')
                  ul.how-to__ul
                     +content-dot( 'Перейдите в&nbsp;левом меню в&nbsp;пункт &laquo;Анкетирование&raquo;&nbsp;&mdash; вкладка &laquo;Тесты&raquo;')
                     +content-dot( 'Откроется таблица/список ранее созданных тестов')
            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'form/2', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопка &laquo;Действия&raquo;&nbsp;&mdash; &laquo;Добавить&raquo;')
                     +content-dot( 'В появившемся окне выберите тип создаваемого тестирования из&nbsp;списка (олимпиады, диагностические тесты, тесты по&nbsp;самодиагностике)')
                     +content-dot( 'Откроется форма создания нового тестирования выбранного типа')

            article.how-to__block
               +headline( '3. Заполните основную информацию в&nbsp;соответствии с&nbsp;выбранным типом задания')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Заголовок*</b>&nbsp;&mdash; укажите название тестирования')
                     +content-dot( '<b>Описание</b>&nbsp;&mdash; напишите краткое пояснение для&nbsp;пользователя о&nbsp;целях теста')
                     +content-dot( '<b>Инструкция</b>&nbsp;&mdash; напишите краткое пояснение для&nbsp;пользователя с&nbsp;инструкцией прохождения тестирования')
                     +content-dot( '<b>Класс*</b> <i>(недоступно для&nbsp;самодиагностики)</i>&nbsp;&mdash; укажите учебные классы, для&nbsp;которых предназначен данный тест')
                     +content-dot( '<b>Предмет</b> <i>(недоступно для&nbsp;диагностических тестов)</i>&nbsp;&mdash; выберите предмет, к&nbsp;которому тестирование')
                     +content-dot( '<b>Год*</b> <i>(доступно только для&nbsp;олимпиад)</i>&nbsp;&mdash; укажите год олимпиады, например, 2023')
                     +content-dot( '<b>Вид</b> <i>(доступно только для&nbsp;олимпиад)</i>&nbsp;&mdash; выберите вид олимпиады (письменная, устная)')
                     +content-dot( '<b>Этап</b> <i>(доступно только для&nbsp;олимпиад)</i>&nbsp;&mdash; выберите к&nbsp;какому этапу олимпиады относится тестирование (отборочный, школьный, муниципальный, региональный, федеральный, заключительный)..')
                     +content-dot( '<b>Категория пользователя*&nbsp;&mdash; выберите, кому показать этот тест</b> (законный представитель, обучающийся, педагог). Это определяет, <b>в каких пользовательских интерфейсах будет показано тестирование</b>. Можно выбрать один вариант или&nbsp;сразу несколько')
                     +content-dot( '<b>Уровень</b> <i>(доступно только для&nbsp;диагностических тестов)</i>&nbsp;&mdash; выберите какому уровню соответствует тестирование (элементарный, базовый, продвинутый)')
                     +content-dot( '<b>Время на&nbsp;ответе в&nbsp;минутах*</b>&nbsp;&mdash; укажите максимальное время на&nbsp;ответ в&nbsp;минутах')


            article.how-to__block
               +headline( '4. Добавьте задания, которые будут входить в&nbsp;тестирование')
               .how-to__content_holder.hidden
                  +content-img( 'form/2', '4')
                  .how-to__text Перейдите во&nbsp;вторую вкладку &laquo;Выбрать задания&raquo;
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Добавить&raquo;')

            article.how-to__block
               +headline( '4.1. Выберите и&nbsp;отметьте нужные задания')
               .how-to__content_holder.hidden
                  +content-img( 'form/2', '4.1')
                  ul.how-to__ul
                     +content-dot( 'В зависимости от&nbsp;выбранного типа тестирования, Система предложит выбрать подходящие задания')
                     +content-dot( 'Выберите и&nbsp;отметьте нужные задания и&nbsp;нажмите кнопку &laquo;Добавить выбранное&raquo;')
                     +content-dot( 'Задания появятся в&nbsp;списке заданий в&nbsp;данном тестировании. Вы всегда можете удалить ненужные позиции, а&nbsp;также добавить еще заданий')
                     +content-dot( 'Нажмите кнопку &laquo;Сохранить и&nbsp;вернуться к&nbsp;списку&raquo;')

            article.how-to__block
               +headline( '5. Опубликуйте тестирование')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке созданных тестов найдите созданный вами тест, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')
                  .how-to__text Сразу после публикации, тестирование станет доступно в&nbsp;тех Помощниках, которые вы выбрали на&nbsp;этапе создания.
            article.how-to__block
               +headline( 'Примечание')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Задания создаются один раз и&nbsp;могут использоваться в&nbsp;нескольких тестах')
                     +content-dot( 'Обязательно корректно указывайте Доступность задания, иначе оно не появится в&nbsp;списке при создании теста')
                     +content-dot( 'После создания теста его можно редактировать: менять заголовок, описание и&nbsp;состав заданий')

      include ../assets/jade/static/script
      include ../assets/jade/footer/footer-pages
