doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Анкетирование. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Анкетирование
         .user_manual__about.about-dark.about-900
            p Раздел в&nbsp;Цифровых помощниках, с&nbsp;помощью которого пользователи могут проходить тесты, направленные на&nbsp;диагностику знаний, навыков и&nbsp;компетенций. Она используется во&nbsp;всех цифровых помощниках: ученика, учителя и&nbsp;родителя.
            p Система позволяет выявлять образовательные дефициты, определять уровень освоения тем и&nbsp;рекомендовать соответствующие верифицированные образовательные материалы для дальнейшего развития.
            
         .line


      include ../assets/jade/static/script
