doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Анкетирование. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Анкетирование
         .user_manual__about.about-dark
            
         .line
