doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Библиотека материалов. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Библиотека материалов
         .user_manual__about.about-dark.about-900
            p Единое хранилище цифровых образовательных, развивающих и&nbsp;проектных материалов, доступных для учеников, учителей и&nbsp;родителей через Цифровых помощников.
            p В автоматизированном режиме обеспечена передача цифрового образовательного контента из&nbsp;
               a( href='https://academy-content.apkpro.ru/' target='_blank').todo-link Библиотеки цифрового образовательного контента
               | . Однако, при&nbsp;необходимости, администраторы и&nbsp;методисты могут добавлять программы вручную.


            include ../assets/jade/content/todo/__hidden-text
            +hidden( 'Кто может создавать и редактировать контент?', 'Добавлять и редактировать материалы в Библиотеке могут пользователи с ролями «Администратор» и «Методист». Доступ к работе с разделом предоставляется сотрудникам, указанным в заявке от профильного Департамента Министерства просвещения Российской Федерации, после прослушивания обучающего вебинара.')
            +hidden( 'Какие бывают типы контента?', 'Тут много текста')


         .line



      include ../assets/jade/static/script
