doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Библиотека материалов. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Библиотека материалов
         .user_manual__about.about-dark.about-900
            p Единое хранилище цифровых образовательных, развивающих и&nbsp;проектных материалов, доступных для&nbsp;учеников, учителей и&nbsp;родителей через Цифровых помощников.
            p В автоматизированном режиме обеспечена передача цифрового образовательного контента из&nbsp;
               a( href='https://academy-content.apkpro.ru/' target='_blank').todo-link Библиотеки цифрового образовательного контента
               | . Однако, при&nbsp;необходимости, администраторы и&nbsp;методисты могут добавлять программы вручную.


            include ../assets/jade/content/todo/__hidden-text
            include ../assets/jade/content/todo/__how-to_content-dot
            include ../assets/jade/content/todo/__how-to_content-img
            +hidden( 'Кто может создавать и&nbsp;редактировать контент?', 'Добавлять и&nbsp;редактировать материалы в&nbsp;Библиотеке могут пользователи с&nbsp;ролями &laquo;Администратор&raquo; и&nbsp;&laquo;Методист&raquo;. Доступ к&nbsp;работе с&nbsp;разделом предоставляется сотрудникам, указанным в&nbsp;заявке от&nbsp;профильного Департамента Министерства просвещения Российской Федерации, после прослушивания обучающего вебинара.')
            .hidden_text
               .show Какие бывают типы контента?
               .hidden
                  .mb02
                     b Подраздел &laquo;Образование&raquo;
                  ul
                     li БЦОК&nbsp;&mdash; цифровой образовательный контент по&nbsp;школьным предметам, соответствующий ФГОС
                     li ЭОР&nbsp;&mdash; электронные ресурсы, включённые в&nbsp;реестр Минпросвещения
                     li Статьи&nbsp;&mdash; материалы от&nbsp;экспертов и&nbsp;опытных педагогов
                     li Руководство по&nbsp;компетенциям&nbsp;&mdash; аналитические материалы и&nbsp;методики по&nbsp;развитию компетенций педагогов и&nbsp;учащихся

                  .mb02
                     b Подраздел &laquo;Проекты&raquo;
                  ul
                     li Мастерская&nbsp;&mdash; практические занятия по&nbsp;профориентации
                     li Турнир&nbsp;&mdash; обучающие конкурсы для&nbsp;школьников
                     li Чемпионат&nbsp;&mdash; соревнования по&nbsp;профессиональным навыкам

                  .mb02
                     b Подраздел &laquo;Развитие&raquo; (доступен в&nbsp;Помощнике родителя)
                  ul
                     li Видео&nbsp;&mdash; обучающие видеоролики до&nbsp;15 минут
                     li Аудио&nbsp;&mdash; полезные аудиозаписи по&nbsp;педагогике и&nbsp;воспитанию
                     li Статьи&nbsp;&mdash; советы по&nbsp;воспитанию и&nbsp;взаимодействию с&nbsp;детьми


         .line

      .wrapper.pb6
         .h4 Как добавить проект?
         .how-to__about.about-gray
            p Подраздел &laquo;Проекты&raquo;

         include ../assets/jade/content/todo/__how-to_headline
         include ../assets/jade/content/todo/__how-to_content-dot
         include ../assets/jade/content/todo/__how-to_content-img

         section.how-to__holder.mb8
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Библиотека&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'lib/1', '1')
                  ul.how-to__ul
                     +content-dot( 'В административной панели в&nbsp;меню слева выберите &laquo;Библиотека&raquo;&nbsp;&mdash; вкладка &laquo;Материалы&raquo;')
                     +content-dot( 'Откроется таблица/список ранее созданных материалов')

            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'lib/1', '1')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопку &laquo;Добавить новый&raquo;')
                     +content-dot( 'Откроется форма создания нового проекта')

            article.how-to__block
               +headline( '3. Заполните основную информацию')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Название*</b>&nbsp;&mdash; укажите короткое и&nbsp;понятное название, например: <i>&laquo;Абилимпикс&nbsp;&mdash; чемпионат по&nbsp;профессиональному мастерству&raquo;</i>')
                     +content-dot( '<b>Полное описание материала*</b>&nbsp;&mdash; подробное расскажите, о&nbsp;чём проект и&nbsp;кому он будет интересен. Редактор позволяет вставлять в&nbsp;текст картинки, видео, аудио, а&nbsp;также встроенные ссылки')
                     +content-dot( '<b>Является проектом</b>&nbsp;&mdash; поставьте галочку в&nbsp;данном поле. В&nbsp;самом верху над&nbsp;названием появится вторая вкладка <b>&laquo;Проект&raquo;</b>')

                  .how-to__text Перейдите во вторую вкладку и&nbsp;заполните основную информацию о&nbsp;проекте:
                  ul.how-to__ul
                     +content-dot( 'Дата проведения')
                     +content-dot( 'Дата начала и&nbsp;окончания регистрации')
                     +content-dot( 'Время начала и&nbsp;окончания')
                     +content-dot( 'Онлайн&nbsp;&mdash; отметьте проводится проект онлайн или&nbsp;офлайн')
                     +content-dot( 'Регион&nbsp;&mdash; укажите регионы, которые могут принимать участие в&nbsp;проекте')
                     +content-dot( 'Добавьте логотип')
                     +content-dot( 'Выберите тип проекта (проект, чемпионат, лаборатория, конкурс)')

                  .how-to__text Вернитесь в&nbsp;первую вкладку &laquo;Материал&raquo; и&nbsp;заполните основную недостающую информацию о&nbsp;проекте:
                  ul.how-to__ul
                     +content-dot( '<b>Категория пользователя*&nbsp;&mdash; выберите, кому показать этот проект</b> (законный представитель, обучающийся, педагог). Это определяет, <b>в каких пользовательских интерфейсах (Цифровых помощниках) будет показан контент</b>. Можно выбрать один вариант или&nbsp;сразу несколько')
                     +content-dot( '<b>Регион*</b>&nbsp;&mdash; выберите регион, пользователям которого будет виден данный проект. Можно выбрать один вариант или&nbsp;несколько. Пользователи административной панели с&nbsp;ролью &laquo;Методист&raquo; могут выбирать только регион, совпадающий с&nbsp;регионом, указанным в&nbsp;личном кабинете Методиста')
                     +content-dot( '<b>Поставщик*</b>&nbsp;&mdash; укажите кто организатор данного проекта')
                     +content-dot( '<b>Формат проведения</b>&nbsp;&mdash; укажите формат проведения проекта&nbsp;&mdash; дистанционный, очно–заочный, очный')
                     +content-dot( '<b>Класс (опционально)</b>&nbsp;&mdash; укажите классы, для&nbsp;которых предназначен данный проект')
                     +content-dot( '<b>Уровень основного общего образования (опционально)</b>&nbsp;&mdash; укажите участники каких уровней образования могут принимать участие в&nbsp;данном проекте')
                     +content-dot( '<b>Минимальный возраст*</b>&nbsp;&mdash; укажите возрастное ограничение, если есть')
                     +content-dot( '<b>Предмет (опционально)</b>&nbsp;&mdash; выберите предметы, к&nbsp;которым относится данный проект')
                     +content-dot( '<b>Дата публикации*</b>&nbsp;&mdash; укажите дату, когда должен быть опубликован проект')
                     +content-dot( '<b>Платный*</b>&nbsp;&mdash; укажите, бесплатным или&nbsp;платным является участие в&nbsp;проекте')
                     +content-dot( '<b>Ссылка (опционально)</b>&nbsp;&mdash; укажите ссылку официальный сайт проекта')
                     +content-dot( '<b>Файл (опционально)</b>&nbsp;&mdash; к&nbsp;карточке проекта вы можете прикрепить файл формата doc/docx, xls/xlsx, ppt/pptx, pdf. Например, Положение или&nbsp;Правила. Размер файла может быть ограничен&nbsp;&mdash; при&nbsp;загрузке система покажет, если превышен лимит')
                     +content-dot( '<b>Обложка (опционально)</b>&nbsp;&mdash; добавьте картинку, которая будет отображаться на&nbsp;карточке проекта. Обложка помогает сделать карточку проекта более заметной и&nbsp;визуально понятной')

            article.how-to__block
               +headline( '4. Нажмите &laquo;Создать&raquo;')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;вернуться к&nbsp;списку&raquo; или&nbsp;&laquo;Создать и&nbsp;добавить новый&raquo;')
                     +content-dot( 'Проект сохранится в&nbsp;статусе &laquo;Черновик&raquo;&nbsp;&mdash; его пока не&nbsp;видят пользователи')

            article.how-to__block
               +headline( '5. Опубликуйте проект')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке материалов найдите созданный вами проект, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')
                     +content-dot( 'Сразу после публикации проект станет доступным в&nbsp;разделе &laquo;Библиотека&raquo;&nbsp;&mdash; &laquo;Проекты&raquo; у&nbsp;тех пользователей, которых вы выбрали на&nbsp;этапе создания')

                  .how-to__text Например:
                  ul.how-to__ul
                     +content-dot( 'Если вы выбрали только учащихся&nbsp;&mdash; проект появится в&nbsp;&laquo;Цифровом помощнике ученика&raquo;')
                     +content-dot( 'Если выбрали всех&nbsp;&mdash; его увидят и&nbsp;ученики, и&nbsp;учителя, и&nbsp;родители в&nbsp;разделе &laquo;Библиотека&raquo;&nbsp;&mdash; &laquo;Проекты&raquo; соответствующего Цифрового помощника')

            article.how-to__block
               +headline( 'Примечания')
               .how-to__content_holder.hidden
                  .how-to__text При необходимости мероприятие можно будет редактировать или&nbsp;удалить позже из&nbsp;того&nbsp;же раздела.
                  ul.how-to__ul
                     +content-dot( 'Некоторые поля могут быть обязательными для&nbsp;заполнения&nbsp;&mdash; система подскажет при&nbsp;попытке сохранить пустую форму')
                     +content-dot( 'Чтобы не&nbsp;дублировать, можно заранее проверить, нет&nbsp;ли похожего события в&nbsp;списке')


         .h4 Как добавить материал в&nbsp;&laquo;Образование&raquo;?
         .how-to__about.about-gray
            p Подраздел &laquo;Образование&raquo;

         section.how-to__holder.mb8
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Библиотека&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'lib/2', '1')
                  ul.how-to__ul
                     +content-dot( 'В административной панели в&nbsp;меню слева выберите &laquo;Библиотека&raquo;&nbsp;&mdash; вкладка &laquo;Материалы&raquo;')
                     +content-dot( 'Откроется таблица/список ранее созданных материалов')

            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'lib/2', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопку &laquo;Добавить новый&raquo;')
                     +content-dot( 'Откроется форма создания нового материала')

            article.how-to__block
               +headline( '3. Заполните карточку мероприятия')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Название*</b>&nbsp;&mdash; укажите короткое и&nbsp;понятное название, например: <i>&laquo;ЭОР по&nbsp;физике для&nbsp;9 класса&raquo;</i>')
                     +content-dot( '<b>Полное описание материала*</b>&nbsp;&mdash; используйте текстовый редактор для&nbsp;указания описания материала или&nbsp;непосредственно написания самой статьи. Редактор позволяет вставлять в&nbsp;текст картинки, видео, аудио, а&nbsp;также встроенные ссылки')
                     +content-dot( '<b>Коллекция</b>&nbsp;&mdash; выберите типа материала: БЦОК, ЭОР, Статья, Руководство по&nbsp;компетенции. Это определяет, в&nbsp;какой рубрике и&nbsp;как именно будет представлен контент. От&nbsp;выбора зависит корректная навигация')
                     +content-dot( '<b>Компетенции</b> <i>(если выбрана коллекция &laquo;Руководство по&nbsp;компетенции&raquo;)</i>&nbsp;&mdash; нажмите &laquo;&nbsp;+&nbsp;&raquo; и&nbsp;выберите подходящую компетенцию и&nbsp;область диагностики')
                     +content-dot( '<b>Категория пользователя*&nbsp;&mdash; выберите, кому показать этот материал</b> (законный представитель, обучающийся, педагог). Это определяет, <b>в&nbsp;каких пользовательских интерфейсах (Цифровых помощниках) будет показан материал</b>. Можно выбрать один вариант или&nbsp;сразу несколько')
                     +content-dot( '<b>Регион*</b>&nbsp;&mdash; выберите регион, пользователям которого будет виден данный материал. Можно выбрать один вариант или&nbsp;несколько. Пользователи административной панели с&nbsp;ролью &laquo;Методист&raquo; могут выбирать только регион, совпадающий с&nbsp;регионом, указанным в&nbsp;личном кабинете Методиста')
                     +content-dot( '<b>Поставщик*</b>&nbsp;&mdash; укажите кто предоставил материал')
                     +content-dot( '<b>Класс (опционально)</b>&nbsp;&mdash; укажите классы, для&nbsp;которых предназначен данный материал')
                     +content-dot( '<b>Уровень основного общего образования (опционально)</b>&nbsp;&mdash; укажите для&nbsp;каких уровней образования предназначен данный материал')
                     +content-dot( '<b>Минимальный возраст*</b>&nbsp;&mdash; укажите возрастное ограничение, если есть')
                     +content-dot( '<b>Предмет (опционально)</b>&nbsp;&mdash; выберите предметы, к&nbsp;которым относится данный материал')
                     +content-dot( '<b>Дата публикации*</b>&nbsp;&mdash; укажите дату, когда должен быть опубликован материал')
                     +content-dot( '<b>Платный*</b>&nbsp;&mdash; укажите, материал бесплатным или&nbsp;платный')
                     +content-dot( '<b>Ссылка (опционально)</b>&nbsp;&mdash; если материал размещен на&nbsp;внешнем сайте, добавьте ссылку')
                     +content-dot( '<b>Файл (опционально)</b>&nbsp;&mdash; к&nbsp;карточке материала вы можете прикрепить файл формата doc/docx, xls/xlsx, ppt/pptx, pdf. Размер файла может быть ограничен&nbsp;&mdash; при&nbsp;загрузке система покажет, если превышен лимит')
                     +content-dot( '<b>Обложка (опционально)</b>&nbsp;&mdash; добавьте картинку, которая будет отображаться на&nbsp;карточке материала. Обложка помогает сделать карточку материала более заметной и&nbsp;визуально понятной')
                     +content-dot( '<b>Признак &laquo;обложка учебника&raquo; (опционально)</b>&nbsp;&mdash; можно отметить, если материал является учебником')

            article.how-to__block
               +headline( '4. Нажмите &laquo;Создать&raquo;')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;вернуться к&nbsp;списку&raquo; или&nbsp;&laquo;Создать и&nbsp;добавить новый&raquo;')
                     +content-dot( 'Материал сохранится в&nbsp;статусе &laquo;Черновик&raquo;&nbsp;&mdash; его пока не&nbsp;видят пользователи')

            article.how-to__block
               +headline( '5. Опубликуйте материал')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке материалов найдите созданный вами материал, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')
                     +content-dot( 'Сразу после публикации материал станет доступным в&nbsp;разделе &laquo;Библиотека&raquo;&nbsp;&mdash; &laquo;Образование&raquo; у&nbsp;тех пользователей, которых вы выбрали на&nbsp;этапе создания')

                  .how-to__text Например:
                  ul.how-to__ul
                     +content-dot( 'Если вы выбрали только учащихся&nbsp;&mdash; материал появится в&nbsp;&laquo;Цифровом помощнике ученика&raquo;')
                     +content-dot( 'Если выбрали всех&nbsp;&mdash; его увидят и&nbsp;ученики, и&nbsp;учителя, и&nbsp;родители в&nbsp;разделе &laquo;Библиотека&raquo; соответствующего Цифрового помощника')

                  .how-to__text *Материалы также можно добавлять массово&nbsp;&mdash; с&nbsp;использованием специальной формы пакетной загрузки.

            article.how-to__block
               +headline( 'Примечания')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'При необходимости проект можно будет редактировать или&nbsp;удалить позже из&nbsp;того&nbsp;же раздела')
                     +content-dot( 'Некоторые поля могут быть обязательными для&nbsp;заполнения&nbsp;&mdash; система подскажет при&nbsp;попытке сохранить пустую форму')
                     +content-dot( 'Если вы добавляете ссылку, убедитесь, что она работает и&nbsp;открывается без&nbsp;ограничений')





         .h4 Как добавить материал в&nbsp;&laquo;Развитие&raquo;?
         .how-to__about.about-gray
            p Подраздел &laquo;Развитие&raquo;. Доступен в&nbsp;Цифровом помощнике родителя

         section.how-to__holder
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Библиотека&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'lib/3', '1')
                  ul.how-to__ul
                     +content-dot( 'В административной панели в&nbsp;меню слева выберите &laquo;Библиотека&raquo;&nbsp;&mdash; вкладка &laquo;Развитие&raquo;')
                     +content-dot( 'Откроется таблица/список ранее созданных материалов')

            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'lib/3', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопку &laquo;Добавить новый&raquo;')
                     +content-dot( 'Откроется форма создания нового материала')

            article.how-to__block
               +headline( '3. Заполните основную информацию')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Название*</b>&nbsp;&mdash; укажите короткое и&nbsp;понятное название, например: <i>&laquo;Абилимпикс&nbsp;&mdash; чемпионат по&nbsp;профессиональному мастерству&raquo;</i>')
                     +content-dot( '<b>Описание*</b>&nbsp;&mdash; подробное расскажите, о&nbsp;чём материал и&nbsp;кому он будет интересен. Редактор позволяет вставлять в&nbsp;текст картинки, видео, аудио, а&nbsp;также встроенные ссылки')
                     +content-dot( '<b>Содержание</b>&nbsp;&mdash; напишите непосредственно сам текст образовательного или&nbsp;воспитательного материала. Редактор позволяет вставлять в&nbsp;текст картинки, видео, аудио, а&nbsp;также встроенные ссылки')
                     +content-dot( '<b>Тип материала</b>&nbsp;&mdash; выберите типа материала: статья, видео, аудио или&nbsp;др. Это определяет, в&nbsp;какой рубрике и&nbsp;как именно будет представлен контент. От&nbsp;выбора зависит корректная навигация')
                     +content-dot( '<b>Раздел</b>&nbsp;&mdash; выберите подходящий раздел для&nbsp;материала')
                     +content-dot( '<b>Тема</b>&nbsp;&mdash; выберите подходящую тему для&nbsp;материала')
                     +content-dot( '<b>Подтема</b>&nbsp;&mdash; выберите подходящую подтему из&nbsp;списка')
                     +content-dot( '<b>Время на&nbsp;ознакомление</b>&nbsp;&mdash; укажите примерное время на&nbsp;ознакомление, чтобы пользователю было проще понять, сколько займет прочтение статьи или&nbsp;просмотр видео')
                     +content-dot( '<b>Возрастная категория</b>&nbsp;&mdash; выберите о&nbsp;какой возрастной категории детей написан данный материал')
                     +content-dot( '<b>Ссылка на&nbsp;опубликованный материал*</b>&nbsp;&mdash; если материал размещен на&nbsp;внешнем сайте, добавьте ссылку')
                     +content-dot( '<b>Регион</b>&nbsp;&mdash; выберите регион, пользователям которого будет виден данный проект. Можно выбрать один вариант или&nbsp;несколько. Пользователи административной панели с&nbsp;ролью &laquo;Методист&raquo; могут выбирать только регион, совпадающий с&nbsp;регионом, указанным в&nbsp;Личном кабинете Методиста')
                     +content-dot( '<b>Файлы</b>&nbsp;&mdash; к&nbsp;карточке материала вы можете прикрепить файл формата doc/docx, xls/xlsx, ppt/pptx, pdf. Размер файла может быть ограничен&nbsp;&mdash; при&nbsp;загрузке система покажет, если превышен лимит')
                     +content-dot( '<b>Обложка</b>&nbsp;&mdash; добавьте картинку, которая будет отображаться на&nbsp;карточке материала. Обложка помогает сделать карточку материала более заметной и&nbsp;визуально понятной')

            article.how-to__block
               +headline( '4. Нажмите &laquo;Создать&raquo;')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;вернуться к&nbsp;списку&raquo; или&nbsp;&laquo;Создать и&nbsp;добавить новый&raquo;')
                     +content-dot( 'Материал сохранится в&nbsp;статусе &laquo;Черновик&raquo;&nbsp;&mdash; его пока не&nbsp;видят пользователи')

            article.how-to__block
               +headline( '5. Опубликуйте материал')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке материалов найдите созданный вами материал, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')
                     +content-dot( 'Сразу после публикации материал станет доступным в&nbsp;разделе &laquo;Библиотека&raquo;&nbsp;&mdash; &laquo;Развитие&raquo; в&nbsp;Цифровом помощнике родителя')

            article.how-to__block
               +headline( 'Примечания')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'При необходимости материал можно будет редактировать или&nbsp;удалить позже из&nbsp;того же раздела')
                     +content-dot( 'Некоторые поля могут быть обязательными для&nbsp;заполнения&nbsp;&mdash; система подскажет при&nbsp;попытке сохранить пустую форму')
                     +content-dot( 'Чтобы не&nbsp;дублировать материал, можно заранее проверить, нет&nbsp;ли похожего материала в&nbsp;списке')
                     +content-dot( 'Если вы добавляете ссылку, убедитесь, что она работает и&nbsp;открывается без&nbsp;ограничений')


      include ../assets/jade/static/script
      include ../assets/jade/footer/footer-pages
