doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Библиотека материалов. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2
         .user_manual__about.about-dark

         .line
