doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Программы дополнительного образования и профессионального обучения. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Программы дополнительного образования и профессионального обучения
         .user_manual__about.about-dark.about-1100
            p «Программы»&nbsp;– это раздел Цифрового помощника родителя, в&nbsp;котором собираются и&nbsp;отображаются программы дополнительного образования (ДО) и&nbsp;профессионального обучения (ПО). Эти программы помогают пользователям (в&nbsp;первую очередь&nbsp;– родителям и&nbsp;учащимся) находить и&nbsp;выбирать подходящие направления для обучения и&nbsp;развития.
            p В автоматизированном режиме обеспечена передача сведений о&nbsp;программах ДО из&nbsp;Единой автоматизированной информационной системы сбора и&nbsp;анализа данных по&nbsp;учреждениям, программам, мероприятиям дополнительного образования и&nbsp;основным статистическим показателям охвата детей дополнительным образованием в&nbsp;субъектах Российской Федерации. Однако, при необходимости, администраторы и&nbsp;методисты могут добавлять программы вручную.

            include ../assets/jade/content/todo/__hidden-text
            +hidden( '', '')

         .line


      include ../assets/jade/static/script
