doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Программы дополнительного образования и профессионального обучения. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Программы дополнительного образования и&nbsp;профессионального обучения
         .user_manual__about.about-dark.about-1100
            p &laquo;Программы&raquo;&nbsp;&mdash; это раздел Цифрового помощника родителя, в&nbsp;котором собираются и&nbsp;отображаются программы дополнительного образования (ДО) и&nbsp;профессионального обучения (ПО). Эти программы помогают пользователям (в&nbsp;первую очередь&nbsp;&mdash; родителям и&nbsp;учащимся) находить и&nbsp;выбирать подходящие направления для&nbsp;обучения и&nbsp;развития.
            p В автоматизированном режиме обеспечена передача сведений о&nbsp;программах ДО из&nbsp;Единой автоматизированной информационной системы сбора и&nbsp;анализа данных по&nbsp;учреждениям, программам, мероприятиям дополнительного образования и&nbsp;основным статистическим показателям охвата детей дополнительным образованием в&nbsp;субъектах Российской Федерации. Однако, при&nbsp;необходимости, администраторы и&nbsp;методисты могут добавлять программы вручную.

            include ../assets/jade/content/todo/__hidden-text
            +hidden( 'Кто может создавать и&nbsp;редактировать контент?', 'Добавлять и&nbsp;редактировать программы ДО и&nbsp;ПО могут пользователи с&nbsp;ролями &laquo;Администратор&raquo; и&nbsp;&laquo;Методист&raquo;. Доступ к&nbsp;работе с&nbsp;разделом предоставляется сотрудникам, указанным в&nbsp;заявке от&nbsp;профильного Департамента Министерства просвещения Российской Федерации, после прослушивания обучающего вебинара.')

         .line

      .wrapper.pb6
         .h4 Как добавить программу дополнительного образования?
         .how-to__about.about-gray
            p Для&nbsp;Цифрового помощника родителя

         include ../assets/jade/content/todo/__how-to_headline
         include ../assets/jade/content/todo/__how-to_content-dot
         include ../assets/jade/content/todo/__how-to_content-img
         section.how-to__holder.mb8
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Каталог программ&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'prog/1', '1')
                  ul.how-to__ul
                     +content-dot( 'В административной панели в&nbsp;меню слева выберите &laquo;Каталог программ&raquo;&nbsp;&mdash; вкладка &laquo;Программы ДО&raquo;')
                     +content-dot( 'Откроется таблица/список добавленных ранее программ ДО')
            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'prog/1', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопку &laquo;Добавить новый&raquo;')
                     +content-dot( 'Откроется форма создания новой программы ДО')
            article.how-to__block
               +headline( '3. Заполните основную информацию')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Наименование основной программы*</b>&nbsp;&mdash; укажите полное название программы ДО')
                     +content-dot( '<b>Описание</b>&nbsp;&mdash; подробное расскажите, о&nbsp;чём программа и&nbsp;кому она будет интересна. Редактор позволяет вставлять в&nbsp;текст картинки, видео, аудио, а&nbsp;также встроенные ссылки')
                     +content-dot( '<b>Изображение</b>&nbsp;&mdash; загрузите изображение–обложку')
                     +content-dot( '<b>Адаптирована для&nbsp;лиц с&nbsp;ОВЗ</b>&nbsp;&mdash; отметьте, если программа адаптирована для&nbsp;лиц с&nbsp;ОВЗ')
                     +content-dot( '<b>Адаптирована для&nbsp;лиц инвалидностью</b>&nbsp;&mdash; отметьте, если программа адаптирована для&nbsp;лиц с&nbsp;инвалидностью')
                     +content-dot( '<b>Организация*</b>&nbsp;&mdash; укажите учреждение, проводящее обучение')
                     +content-dot( '<b>Регион*</b>&nbsp;&mdash; выберите регион, к&nbsp;которому относится программа')
                     +content-dot( '<b>Продолжительность</b> и&nbsp;<b>размерность продолжительности</b>&nbsp;&mdash; выберите единицы измерения (часы, недели и&nbsp;т.д.) и&nbsp;укажите продолжительность')
                     +content-dot( '<b>Форма обучения</b>&nbsp;&mdash; выберите форму обучения (дистанционная, очная, очно–заочная)')
                     +content-dot( '<b>Нозологические группы и&nbsp;тип адаптивности</b>&nbsp;&mdash; если программа адаптирована для&nbsp;лиц с&nbsp;ОВЗ, выберите нозологические группы и&nbsp;тип адаптивности')
                     +content-dot( '<b>Ссылка на&nbsp;запись</b>&nbsp;&mdash; добавьте ссылку на&nbsp;страницу регистрации или&nbsp;карточку на&nbsp;внешнем сайте')
                     +content-dot( '<b>Внешний идентификатор</b>&nbsp;&mdash; указывается автоматически при&nbsp;импорте из&nbsp;ЕАИС ДО. Оставьте пустым при&nbsp;создании вручную')
                     +content-dot( '<b>Краткое описание</b>&nbsp;&mdash; укажите краткое описание, которое будет отображать в&nbsp;каталоге при&nbsp;наведении на&nbsp;карточку программы')
                     +content-dot( '<b>Адрес проведения</b>&nbsp;&mdash; укажите адрес, если программа проходит очно')
                     +content-dot( '<b>Направленность</b>&nbsp;&mdash; выберите образовательное направление из&nbsp;справочника')
                     +content-dot( '<b>Значимый проект</b>&nbsp;&mdash; если программа проводится в&nbsp;рамках одного из&nbsp;проектов (например, IT-куб, Кванториум и&nbsp;др.)')
                     +content-dot( '<b>Муниципальное образование</b>&nbsp;&mdash; выберите в&nbsp;каком муниципальном образовании региона проводится программа')
                     +content-dot( '<b>Тип и&nbsp;уровень программы</b>&nbsp;&mdash; выберите тип и&nbsp;уровень программы')

                  .how-to__text Например:
                  ul.how-to__ul
                     +content-dot( '<b>Название группы</b>')
                     +content-dot( '<b>Даты начала и&nbsp;окончания обучения</b>')
                     +content-dot( '<b>Возрастной диапазон участников</b> (минимальный и&nbsp;максимальный возраст)')
                     +content-dot( '<b>Количество часов в&nbsp;год</b>')
                     +content-dot( '<b>Размер группы</b> (мин. и&nbsp;макс. количество участников)')
                     +content-dot( '<b>Источник финансирования</b>')
            article.how-to__block
               +headline( '4. Нажмите &laquo;Создать&raquo;')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;вернуться к&nbsp;списку&raquo; или&nbsp;&laquo;Создать и&nbsp;добавить новый&raquo;')
                     +content-dot( 'Программа сохранится в&nbsp;статусе &laquo;Черновик&raquo;&nbsp;&mdash; его пока не&nbsp;видят пользователи')
            article.how-to__block
               +headline( '5. Опубликуйте программу')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке найдите созданную вами программу, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')
                  .how-to__text Сразу после публикации программа станет доступной в&nbsp;разделе &laquo;Программы&raquo;&nbsp;&mdash; &laquo;Дополнительное образование&raquo; в&nbsp;Цифровом помощнике родителя.
            article.how-to__block
               +headline( 'Примечания')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'При необходимости программу можно будет редактировать, копировать или&nbsp;удалить позже из&nbsp;того&nbsp;же раздела')
                     +content-dot( 'Обязательные поля должны быть заполнены&nbsp;&mdash; система подскажет при&nbsp;попытке сохранить пустую форму')
                     +content-dot( 'Если программа уже есть в&nbsp;ЕАИС ДО, она будет загружена автоматически&nbsp;&mdash; не&nbsp;нужно добавлять её вручную')
                     +content-dot( 'Добавляйте полную информацию по&nbsp;группам, чтобы пользователи могли оценить условия обучения')






         .h4 Как добавить программу профессионального обучения?
         .how-to__about.about-gray
            p Для Цифрового помощника родителя

         section.how-to__holder
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Каталог программ&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'prog/2', '1')
                  ul.how-to__ul
                     +content-dot( 'В административной панели в&nbsp;меню слева выберите &laquo;Каталог программ&raquo;&nbsp;&mdash; вкладка &laquo;Программы ПО&raquo;')
                     +content-dot( 'Откроется таблица/список добавленных ранее программ ПО')
            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'prog/2', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопку &laquo;Добавить новый&raquo;')
                     +content-dot( 'Откроется форма создания новой программы ПО')
            article.how-to__block
               +headline( '3. Заполните основную информацию')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Наименование основной программы*</b>&nbsp;&mdash; укажите полное название программы ПО')
                     +content-dot( '<b>Описание</b>&nbsp;&mdash; подробное расскажите, о&nbsp;чём программа и&nbsp;кому она будет интересна. Редактор позволяет вставлять в&nbsp;текст картинки, видео, аудио, а&nbsp;также встроенные ссылки')
                     +content-dot( '<b>Изображение</b>&nbsp;&mdash; загрузите изображение–обложку')
                     +content-dot( '<b>Адаптирована для&nbsp;лиц с&nbsp;ОВЗ</b>&nbsp;&mdash; отметьте, если программа адаптирована для&nbsp;лиц с&nbsp;ОВЗ')
                     +content-dot( '<b>Адаптирована для&nbsp;лиц инвалидностью</b>&nbsp;&mdash; отметьте, если программа адаптирована для&nbsp;лиц с&nbsp;инвалидностью')
                     +content-dot( '<b>Организация*</b>&nbsp;&mdash; укажите учреждение, проводящее обучение')
                     +content-dot( '<b>Регион*</b>&nbsp;&mdash; выберите регион, в&nbsp;котором проводится программа')
                     +content-dot( '<b>Продолжительность</b> и&nbsp;<b>размерность продолжительности</b>&nbsp;&mdash; выберите единицы измерения (часы, недели и&nbsp;т.д.) и&nbsp;укажите продолжительность программы')
                     +content-dot( '<b>Форма обучения</b>&nbsp;&mdash; выберите форму обучения (дистанционная, очная, очно–заочная)')
                     +content-dot( '<b>Нозологические группы и&nbsp;тип адаптивности</b>&nbsp;&mdash; если программа адаптирована для&nbsp;лиц с&nbsp;ОВЗ, выберите нозологические группы и&nbsp;тип адаптивности')
                     +content-dot( '<b>Ссылка на&nbsp;запись</b>&nbsp;&mdash; добавьте ссылку на&nbsp;страницу регистрации или&nbsp;карточку на&nbsp;внешнем сайте')
                     +content-dot( '<b>Наименование укрупненных групп</b>&nbsp;&mdash; введите название укрупненной группы, к&nbsp;которой относится программа (например, <i>Технические науки</i>)')
                     +content-dot( '<b>Вид подготовки</b>&nbsp;&mdash; выберите вид подготовки (например, <i>повар, бетонщик</i> и&nbsp;т.д.)')
                     +content-dot( '<b>Наименование профессий рабочих, должностей служащих</b>&nbsp;&mdash; укажите одну или&nbsp;несколько профессий, которые получает обучающийся')
                     +content-dot( '<b>Квалификационный разряд / класс / категория</b>&nbsp;&mdash; укажите при&nbsp;необходимости')
                     +content-dot( '<b>Средний балл аттестата</b>&nbsp;&mdash; укажите, если программа требует определённого уровня')
                     +content-dot( '<b>Наличие вступительных испытаний</b>&nbsp;&mdash; отметьте, если они есть')
                     +content-dot( '<b>Возможность участия в&nbsp;олимпиадах</b>&nbsp;&mdash; поставьте галочку, если применимо')
                     +content-dot( '<b>Есть противопоказания</b>&nbsp;&mdash; отметьте, если есть медицинские ограничения и&nbsp;укажите их в&nbsp;следующем поле <b>Перечень противопоказаний</b>')
                     +content-dot( '<b>Стоимость обучения</b>&nbsp;&mdash; введите стоимость в&nbsp;рублях или&nbsp;укажите, что программа бесплатная')
                     +content-dot( '<b>Дата начала</b>&nbsp;&mdash; укажите дату начала обучения')
                     +content-dot( '<b>Количество часов</b>&nbsp;&mdash; укажите общую учебную нагрузку')

            article.how-to__block
               +headline( '4. Нажмите &laquo;Создать&raquo;')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;вернуться к&nbsp;списку&raquo; или&nbsp;&laquo;Создать и&nbsp;добавить новый&raquo;')
                     +content-dot( 'Программа сохранится в&nbsp;статусе &laquo;Черновик&raquo;&nbsp;&mdash; его пока не&nbsp;видят пользователи')


            article.how-to__block
               +headline( '5. Опубликуйте программу')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке найдите созданную вами программу, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')
                  .how-to__text Сразу после публикации программа станет доступной в&nbsp;разделе &laquo;Программы&raquo;&nbsp;&mdash; &laquo;Профессиональное обучение&raquo; в&nbsp;Цифровом помощнике родителя
            article.how-to__block
               +headline( 'Примечания')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Заполните как можно больше информации&nbsp;&mdash; это повысит доверие пользователей к&nbsp;программе')
                     +content-dot( 'При необходимости программу можно будет редактировать, копировать или&nbsp;удалить позже из&nbsp;того&nbsp;же раздела')
                     +content-dot( 'Обязательные поля должны быть заполнены&nbsp;&mdash; система подскажет при&nbsp;попытке сохранить пустую форму')
                     +content-dot( 'Обложка помогает визуально выделить программу в&nbsp;интерфейсе')




      include ../assets/jade/static/script
      include ../assets/jade/footer/footer-pages
