doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Тематические подборки. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Тематические подборки
         .user_manual__about.about-dark.about-1000
            p Специально сформированные коллекции материалов по&nbsp;определённой теме, направлению или&nbsp;событию. Они помогают пользователям (ученикам, родителям и&nbsp;учителям) быстро находить актуальный и&nbsp;полезный контент, не&nbsp;тратя время на&nbsp;самостоятельный поиск.
            p Большинство подборок для&nbsp;пользователей создаются автоматически&nbsp;– на&nbsp;основе их индивидуальных интересов, активности и&nbsp;предпочтений в&nbsp;Системе.
            p Также администратор или&nbsp;методист может вручную создать подборку&nbsp;– выбрав подходящие материалы из&nbsp;разных разделов системы.

            include ../assets/jade/content/todo/__hidden-text
            +hidden( 'Кто может создавать и&nbsp;редактировать контент?', 'Добавлять и&nbsp;редактировать тематические подборки могут пользователи с&nbsp;ролями &laquo;Администратор&raquo; и&nbsp;&laquo;Методист&raquo;. Доступ к&nbsp;работе с&nbsp;разделом предоставляется сотрудникам, указанным в&nbsp;заявке от&nbsp;профильного Департамента Министерства просвещения Российской Федерации, после прослушивания обучающего вебинара.')


         .line

      .wrapper.pb6
         .h4.pb4 Как добавить новую тематическую подборку?

         include ../assets/jade/content/todo/__how-to_headline
         include ../assets/jade/content/todo/__how-to_content-dot
         include ../assets/jade/content/todo/__how-to_content-img
         include ../assets/jade/content/todo/__how-to_line
         section.how-to__holder
            article.how-to__block
               +headline( '1. Откройте раздел &laquo;Тематические подборки&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'theme', '1')
                  ul.how-to__ul
                     +content-dot( 'В административной панели в&nbsp;меню слева выберите &laquo;Тематические подборки&raquo;&nbsp;&mdash; вкладка &laquo;Тематические подборки&raquo;')
                     +content-dot( 'Откроется таблица/список добавленных ранее подборок')
            article.how-to__block
               +headline( '2. Нажмите кнопку &laquo;Добавить&raquo;')
               .how-to__content_holder.hidden
                  +content-img( 'theme', '2')
                  ul.how-to__ul
                     +content-dot( 'В правом верхнем углу нажмите кнопку &laquo;Добавить новый&raquo;')
                     +content-dot( 'Откроется форма создания новой подборки материалов')
            article.how-to__block
               +headline( '3. Заполните основную информацию')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( '<b>Название*</b>&nbsp;&mdash; введите короткое и&nbsp;понятное название. Например: <i>&laquo;Подготовка к&nbsp;ОГЭ по математике&raquo;</i>')
                     +content-dot( '<b>Краткое описание*</b>&nbsp;&mdash; укажите цель и&nbsp;содержание подборки. Например: <i>&laquo;Собрание полезных материалов для&nbsp;подготовки учеников 9 класса к&nbsp;ОГЭ&raquo;</i>')
                     +content-dot( '<b>Количество единиц контента</b>&nbsp;&mdash; выберите, сколько материалов будет отображаться в&nbsp;подборке (20, 40, 60, Без ограничений)')
                     +content-dot( '<b>Места размещения</b>&nbsp;&mdash; укажите раздел/ы, где будет отображаться подборка')

                  +content-line( 'Календарь (доступен во&nbsp;всех Цифровых помощниках)')
                  +content-line( 'Библиотека (доступна во&nbsp;всех Цифровых помощниках)')
                  +content-line( 'Курсы (доступны в&nbsp;Помощнике учителя)')
                  +content-line( 'Программы (доступны в&nbsp;Помощнике родителя)')
                  +content-line( 'Анкетирование (доступно во&nbsp;всех Цифровых помощниках).')

                  ul.how-to__ul.mt07
                     +content-dot( '<b>Коды подсистем*</b>&nbsp;&mdash; выберите разделы, из которых вы хотите добавить материалы в&nbsp;подборку')
                     +content-dot( '<b>Регион*</b>&nbsp;&mdash; выберите регион/ы, пользователям которого будет видна данная подборка. Можно выбрать один вариант или&nbsp;несколько. Пользователи административной панели с&nbsp;ролью &laquo;Методист&raquo; могут выбирать только регион, совпадающий с&nbsp;регионом, указанным в&nbsp;Личном кабинете Методиста')
                     +content-dot( '<b>Тип подборки*</b>&nbsp;&mdash; выберите тип подборки. Рекомендуем всегда выбирать тип &laquo;Для тебя&raquo;')
                     +content-dot( '<b>Целевая аудитория&nbsp;&mdash; выберите, кому показать эту подборку</b> (законный представитель, обучающийся, педагог). Это определяет, <b>в&nbsp;каких пользовательских интерфейсах будет показана подборка</b>. Можно выбрать один вариант или&nbsp;сразу несколько')
                     +content-dot( '<b>Дата автоматического снятия с&nbsp;публикации</b>&nbsp;&mdash; настройте срок отображения подборки, если нужно ограничить срок видимости')


            article.how-to__block
               +headline( '4. Нажмите &laquo;Создать&raquo;')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Нажмите кнопку &laquo;Создать и&nbsp;редактировать&raquo;, чтобы далее добавить в&nbsp;подборку материалы')
                     +content-dot( 'Подборка сохраняется в&nbsp;статусе &laquo;Черновик&raquo;, во&nbsp;второй вкладке доступен выбор материалов')

            article.how-to__block
               +headline( '5. Добавьте контент в&nbsp;подборку')
               .how-to__content_holder.hidden
                  +content-img( 'theme', '5')
                  .how-to__text.mb1 Перейдите во&nbsp;вторую вкладку &laquo;Контент&raquo;

            article.how-to__block
               +headline( '5.1 Поиск нужного контента')
               .how-to__content_holder.hidden
                  +content-img( 'theme', '5.1')
                  .how-to__text В зависимости от&nbsp;выбранных ранее разделов, из которых вы хотите добавить контент, Система предложит выбрать подходящие материалы:
                  +content-line( 'мероприятия (из&nbsp;Календаря)')
                  +content-line( 'статьи, видео, ЭОР, руководства (из&nbsp;Библиотеки)')
                  +content-line( 'программы (из&nbsp;Каталога программ)')
                  +content-line( 'курсы (из&nbsp;Курсов ДППО).')

                  ul.how-to__ul.mt07
                     +content-dot( 'Выберите нужные позиции и&nbsp;нажмите кнопку &laquo;Добавить выбранное&raquo;')
                     +content-dot( 'Продолжайте добавлять контент пока не&nbsp;достигнете цели создаваемой подборки')
                     +content-dot( 'Нажмите кнопку &laquo;Сохранить и&nbsp;вернуться к&nbsp;списку&raquo;')

            article.how-to__block
               +headline( '6. Опубликуйте подборку')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'В списке созданных подборок найдите созданную вами подборку, в&nbsp;столбце &laquo;Действия&raquo; нажмите кнопку с&nbsp;тремя точками &laquo;…&raquo; и&nbsp;выберите &laquo;Опубликовать&raquo;')
                  .how-to__text Сразу после публикации, ваша подборка станет доступна в&nbsp;тех разделах Помощников, которые вы выбрали на&nbsp;этапе создания.

            article.how-to__block
               +headline( 'Примечания')
               .how-to__content_holder.hidden
                  ul.how-to__ul
                     +content-dot( 'Подборка будет видна только выбранной аудитории и&nbsp;в&nbsp;указанном разделе системы')
                     +content-dot( 'Контент в&nbsp;подборке можно обновлять и&nbsp;менять в&nbsp;любое время')
                     +content-dot( 'Если вы не&nbsp;указали дату снятия с&nbsp;публикации, подборка будет доступна бессрочно')


      include ../assets/jade/static/script
      include ../assets/jade/footer/footer-pages
