doctype
html

   include ../assets/jade/static/__head-pages
   +title( 'Тематические подборки. Руководство пользователя информационной системы «Цифровые помощники»' )

   body
      include ../assets/jade/header/menu-pages

      .wrapper.mt7.mb5
         h1.h2 Тематические подборки
         .user_manual__about.about-dark
            
         .line
