.project_about {
   .golos-regular();
   font-size: 20px;
   line-height: 145%;
   
   max-width: 780px;
   
   margin-right: auto;
   margin-left: auto;
}

.block-blue {
   background-color: @color-blue-light;
}
.block-gray {
   background-color: @back-gray-light;
}

.line {
   position: relative;
   height: 1px;
   background-color: #000000;
   opacity: 0.2;
   
   box-sizing: border-box;
   padding-left: 20px;
   padding-right: 20px;
   width: 100%;
   
   margin-top: 140px;
   margin-bottom: 110px;
}

.hidden_text {
   .golos-regular();
   padding-top: 25px;
}
.show {
   font-size: 18px;
   color: #1f5bff;
   cursor: pointer;
   border-bottom: dashed 1px currentcolor;
   text-decoration: none;
   display: inline;
   
}
.hidden {
   display: block;
   font-size: 18px;
   padding-top: 15px;
   color: #000;
   
   display: none;
}
