.project_about {
   .golos-regular();
   font-size: 20px;
   line-height: 145%;
   
   max-width: 780px;
   
   margin-right: auto;
   margin-left: auto;
}

.block_blue {
   background-color: @color-blue-light;
}

.line {
   position: relative;
   height: 1px;
   background-color: #000000;
   opacity: 0.2;
   
   box-sizing: border-box;
   padding-left: 20px;
   padding-right: 20px;
   width: 100%;
   
   margin-top: 110px;
   margin-bottom: 110px;
}
