menu.menu_header__holder

   .menu_header__item
      a.menu_header__link( href='../') Цифровые помощники

   .menu_header__item
      a.menu_header__link( href='../todo.html') Руководство пользователя
