doctype
html

   include assets/jade/static/__head
   +title( 'Цифровые помощники' )

   body
      include assets/jade/header/menu

      .wrapper.mt7.mb5
         h1.h1.center Цифровые помощники
         .project_about.center.mt3 &laquo;Цифровые помощники&raquo;&nbsp;&mdash; это новые федеральные сервисы для&nbsp;учеников, учителей и&nbsp;родителей. Вход доступен через ФГИС &laquo;Моя школа&raquo;, &laquo;ВКонтакте&raquo; или региональные информационные системы

         include assets/jade/content/main/__section
         section.project_sections__holder.mt4
            +section( 'Помощник ученика', 'uche', 'https://student.edu.ru/')
            +section( 'Помощник учителя', 'uchi', 'https://teacher.edu.ru/')
            +section( 'Помощник родителя', 'rodi', 'https://parent.edu.ru/')

      .block-blue.mb6
         .wrapper.pt6
            h2.h3.center.mb4 Преимущества сервисов

            include assets/jade/content/main/__advantage
            section.advantages__holder
               +advantage( '1', 'Просто', 'Интуитивно понятный интерфейс легко использовать даже новичку')
               +advantage( '2', 'Эффективно', 'Шаблоны и&nbsp;подсказки, чтобы ничего не&nbsp;забыть. Фиксация прогресса')
               +advantage( '3', 'Удобно', 'Доступ ко&nbsp;всем сервисам везде, где&nbsp;есть Интернет')
               +advantage( '4', 'Практично', 'Экономит время и&nbsp;хранит самую важную информацию в&nbsp;одном месте')
               +advantage( '5', 'Доступно', 'Все результаты тестирований, профессиональной деятельности и&nbsp;диагностики хранятся в&nbsp;облаке и&nbsp;доступны по&nbsp;одному клику')

      .wrapper
         h2.h3.center.mb7 Методическая поддержка

         include assets/jade/content/main/__support
         section.support__holder
            +support( 'ученика', '1', 'https://s3-pilot.assistants.edu.ru/doc/%D0%9F%D0%BB%D0%B0%D0%BA%D0%B0%D1%82_%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F_%D0%A6%D0%B8%D1%84%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D0%BD%D0%B8%D0%BA_%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%BA%D0%B0.pdf')
            +support( 'учителя', '2', 'https://s3-pilot.assistants.edu.ru/doc/%D0%9F%D0%BB%D0%B0%D0%BA%D0%B0%D1%82_%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F_%D0%A6%D0%B8%D1%84%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D0%BD%D0%B8%D0%BA_%D1%83%D1%87%D0%B8%D1%82%D0%B5%D0%BB%D1%8F.pdf')
            +support( 'родителя', '3', 'https://s3-pilot.assistants.edu.ru/doc/%D0%9F%D0%BB%D0%B0%D0%BA%D0%B0%D1%82_%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F_%D0%A6%D0%B8%D1%84%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D0%BD%D0%B8%D0%BA_%D1%80%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D1%8F.pdf')


         .video__holder.mt8

            .video_wrapper
               .video_relative
                  .video_ratio
                  .iframe_holder
                     iframe(src='https://vkvideo.ru/video_ext.php?oid=-216917614&id=456239051&color=ffffff1&hd=2&js_api=1' width='100%' height='100%' frameborder='0' allowfullscreen)
                        p Твой браузер устарел для отображения элемента iframe

            .video_wrapper
               .video_relative
                  .video_ratio
                  .iframe_holder
                     iframe(src='https://vkvideo.ru/video_ext.php?oid=-216917614&id=456239047&color=ffffff1&hd=2&js_api=1' width='100%' height='100%' frameborder='0' allowfullscreen)
                        p Твой браузер устарел для отображения элемента iframe


      #back
         .popup__holder
            .popup__cross
            include assets/jade/modal/uche_modal
            include assets/jade/modal/uche_video
            include assets/jade/modal/uchi_modal
            include assets/jade/modal/uchi_video
            include assets/jade/modal/rodi_modal
            include assets/jade/modal/rodi_video

      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/slick.min.js' )
      script( src='./assets/js/script.js' )
      include assets/jade/footer/footer
