doctype
html

   include assets/jade/static/__head
   +title( 'Краткое руководство пользователя' )

   body
      include assets/jade/header/menu

      .wrapper
         a( href='todo/calendar.html') Ссылка на Календарь
