mixin advantage(num, title, text)
   article.advantage_one__holder
      .advantage_one__numb 0!{num}
      .advantage_one__info
         .h5.advantage_one__title !{title}
         .advantage_one__text !{text}
