mixin support( title, img, link)
   article.support__block
      img( src='assets/data/poster/pl#{img}.webp').support__img
      .support__title Плакат-инструкция. Цифровой помощник !{title}
      a( href='#{link}' target='_blank').support__link
         .support__link_text Скачать

