#rodi-modal.popup__main_holder.popup-animate
   img(  src='./assets/data/popup/popup3.webp').popup__main_img
   .popup__main_content
      .h4.popup__content_title Помощник родителя
      .h6.popup__content_subtitle Выявление, развитие и&nbsp;сопровождение талантов детей
      ul.popup__content_ul
         li Диагностика интересов и&nbsp;способностей детей
         li Навигация по&nbsp;событиям, олимпиадам, конкурсам, программам дополнительного образования и&nbsp;профессионального обучения, направленным на&nbsp;развитие способностей
         li Адресные рекомендации по&nbsp;образовательному контенту

      .h6.popup__content_subtitle Результат использования
      ul.popup__content_ul
         li Автоматизированная диагностика способностей и&nbsp;интересов детей
         li Упрощение организации процесса всестороннего развития ребенка

      a( href='https://teacher.edu.ru/' target='_blank').popup__content_link
         span Начать&nbsp;пользоваться


