#uche-modal.popup__main_holder.popup-animate
   img(  src='./assets/data/popup/popup1.webp').popup__main_img
   .popup__main_content
      .h4.popup__content_title Помощник ученика
      .h6.popup__content_subtitle Самоподготовка обучающихся к&nbsp;основному государственному экзамену
      ul.popup__content_ul
         li Подготовка к&nbsp;экзаменам на&nbsp;основе верифицированного банка заданий
         li Фиксация результатов подготовки и&nbsp;проработка наименее освоенных тем
         li Таргетированный подбор цифрового образовательного контента на&nbsp;основе достижений

      .h6.popup__content_subtitle Результат использования
      ul.popup__content_ul
         li Выстраивание индивидуальной траектории подготовки в&nbsp;период с&nbsp;5 по&nbsp;9 класс
         li Повышение уровня мотивации к&nbsp;обучению

      a( href='https://student.edu.ru/?utm_source=promo&utm_medium=lp/' target='_blank').popup__content_link
         span Начать&nbsp;пользоваться
