#uchi-modal.popup__main_holder.popup-animate
   img(  src='./assets/data/popup/popup2.webp').popup__main_img
   .popup__main_content
      .h4.popup__content_title Помощник учителя
      .h6.popup__content_subtitle Самодиагностика областей профессиональных интересов и&nbsp;знаний педагогов
      ul.popup__content_ul
         li Агрегация сведений для аттестации и накопление педагогических достижений в портфолио
         li Навигация по программам повышения квалификации и профессиональным событиям
         li Персонализированный подбор программ, событий и образовательных материалов

      .h6.popup__content_subtitle Результат использования
      ul.popup__content_ul
         li Повышение профессиональных компетенций педагогов
         li Индивидуальное информирование о возможностях участия в программах дополнительного педагогического профессионального образования, конкурсах и олимпиадах

      a( href='https://teacher.edu.ru/' target='_blank').popup__content_link
         span Начать&nbsp;пользоваться

